.game-wrapper {
    display: flex;
    justify-content: space-between;
}

.game-wrapper img {
    height: 600px;
    width: 400px;
}

.game-info {
    margin: 0 30px;
}

.game-info p {
    font-size: 30px;
    margin-bottom: 30px;
}

#title {
    font-size: 40px;
}

.addto {
    width: max-content;
}

.addto-dropbutton {
    background-color: #9A1010;
    color: #FAEEEE;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.addto-dropbutton::after {
    content: "";
    border: 10px solid transparent;
    display: inline-flex;
    border-left: 10px solid #FAEEEE;
    border-right: none;
    vertical-align: middle;
    transform: rotate(90deg);
    transition-duration: 0.1s;
}

.addto-dropcontent {
    visibility: hidden;
    border: 2px solid #9A1010;
}

.addto-dropcontent button {
    width: 100%;
    border: 0;
    text-align: left;
    display: block;
    cursor: pointer;
    font-size: 30px;
    padding: 5px 20px;
    transition-duration: 0.1s;
    background-color: #FAEEEE;
}

.addto-dropcontent button:hover {
    background-color: #9A1010;
    color: #FAEEEE;
}

.show {
    visibility: visible;
}

.show::after {
    transform: rotate(0);
}

.rating p, .rating span {
    font-size: 40px;
    margin-bottom: 20px;
}

.rating-drop {
    display: inline-block;
    position: relative;
    width: max-content;
}

.rating-drop span {
    font-size: 30px;
}

.rating-dropbutton {
    display: inline-block;
    width: 100%;
    padding: 0 .3em;
    background-color: #9A1010;
    color: #FAEEEE;
}

.rating-dropcontent {
    position: absolute;
    width: 100%;
    border: 2px solid #9A1010;
    visibility: hidden;
}

.rating-dropcontent button {
    display: block;
    position: relative;
    padding: 0 .1em;
    background-color: #FAEEEE;
    border: 0;
    width: 100%;
    line-height: 1em;
    font-size: 25px;
}

select {
    font-size: 25px;
    /* padding: 7px; */
    vertical-align: middle;
    color: #9A1010;
}

select option {
    font-size: 16px;
}