.game-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.game-wrapper img {
    height: 600px;
    width: 400px;
    border-radius: 5px;
}

.game-info {
    margin: 0 3em;
    flex-grow: 1;
}

.game-info p {
    font-size: 30px;
    margin-bottom: .8em;
}

#title {
    font-size: 40px;
}

.addto {
    width: 24em;
}

.addto-dropbutton {
    background-color: #9A1010;
    color: #FAEEEE;
    font-size: 30px;
    padding: .3em .5em;
    cursor: pointer;
    position: relative;
}

.addto-dropbutton::after {
    content: "";
    border: 10px solid transparent;
    display: inline-flex;
    border-left: 10px solid #FAEEEE;
    border-right: none;
    position: absolute;
    right: 1em;
    top: 35%;
    transform: rotate(90deg);
    transition-duration: 0.1s;
}

.addto-dropcontent {
    /* visibility: hidden; */
    display: none;
    position: absolute;
    width: 24em;
    border: 2px solid #9A1010;
    z-index: 2;
}

.addto-dropcontent button {
    width: 100%;
    border: 0;
    text-align: left;
    display: block;
    cursor: pointer;
    font-size: 30px;
    padding: .3em .4em;
    background-color: #FAEEEE;
}

.addto-dropcontent button:hover {
    background-color: #9A1010;
    color: #FAEEEE;
}

.rating p, .rating span {
    font-size: 40px;
    margin-bottom: .5em;
}

.rating-drop {
    display: inline-block;
    position: relative;
    width: max-content;
}

.rating-drop span {
    font-size: 30px;
}

.rating-dropbutton {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: .1em .6em .1em .5em;
    background-color: #9A1010;
    color: #FAEEEE;
}

.rating-dropbutton::after {
    content: "";
    border: 8px solid transparent;
    display: inline-flex;
    border-left: 8px solid #FAEEEE;
    border-right: none;
    vertical-align: 40%;
    transform: rotate(90deg);
    transition-duration: 0.1s;
}

.rating-dropcontent {
    position: absolute;
    width: 100%;
    border: 2px solid #9A1010;
    border-top: 0;
    display: none;
}

.rating-dropcontent button {
    display: block;
    position: relative;
    cursor: pointer;
    padding: .1em 0;
    background-color: #FAEEEE;
    border: 0;
    width: 100%;
    line-height: 1em;
    font-size: 25px;
}

.rating-dropcontent button:hover {
    background-color: #9A1010;
    color: #FAEEEE;
}

.description {
    font-size: 25px;
}

.show {
    display: block;
}

.show::after {
    transform: rotate(0);
}
