.card-wrapper {
    margin: 0 -7px 52px -8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    position: relative;
    margin: 0 7px 8px;
}

.card img {
    width: 200px;
    height: 300px;
}

.game_name {
    position: absolute;
    width: 100%;
    line-height: 300px;
    /* Error */
    font-size: 20px;
    background-color: rgba(154, 16, 16, 0.7);
    color: #faeeee;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s
}

.card:hover .game_name {
    visibility: visible;
    opacity: 1;
}