.card-wrapper {
    margin: 0 -7px 52px -8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    position: relative;
    margin: 0 7px 8px;
    vertical-align: middle;
}

.card img {
    width: 200px;
    height: 300px;
}

.card-name {
    position: absolute;
    width: 100%;
    height: 98.69%;
    background-color: rgba(154, 16, 16, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 20px;
    color: #faeeee;
    text-decoration: none;
}

.card:hover .card-name {
    visibility: visible;
    opacity: 1;
}