@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@font-face {
    font-family: "Metag";
    src: url(../static/METAG___.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono";
}

body {
    background-color: #f7dbdb;
    /* background: linear-gradient(#FAEEEE, #9A1010, #FAEEEE); */
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #9a1010;
    position: sticky;
    top: 0;
    z-index: 2;
    padding-right: 20px;
}

header * {
    color: #faeeee;
}

#logo {
    font-family: "Metag";
    text-decoration: none;
    font-size: 40px;
    margin: 15px 0 15px 60px;
}

.search-form {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.search-form form {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.search {
    line-height: 35px;
    font-size: 20px;
    height: 100%;
    outline: none;
    display: block;
    border: 0;
    padding: 5px;
}

.search[name='search-content'] {
    width: 60%;
    color: #9a1010;
}

.search[type='submit'] {
    background-color: #9a1010;
    padding: 0px 5px;
    border: 1px solid #faeeee;
}

.menu {
    position: relative;
}

.menu-dropbutton {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition-duration: 0.2s;
}

.menu-dropbutton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-dropbutton span {
    margin-right: 15px;
    font-size: 30px;
}

.menu-dropbutton img {
    width: 60px;
    height: 60px;
}

.menu-dropcontent {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #9a1010;
    line-height: 75px;
}

.show {
    display: block
}

.menu-dropcontent a {
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 30px;
    height: 75px;
    text-decoration: none;
    transition-duration: 0.2s;
    padding-left: 20px;
}

.menu-dropcontent a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.main {
    background-color: #ffffff;
    width: 81%;
    margin: 60px auto 170px;
    padding: 43px 30px;
    color: #9a1010;
    height: 100%;
    border-radius: 10px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 23px;
}

footer {
    background-color: #9a1010;
    color: #faeeee;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    padding: 10px 170px;
    position: relative;
}

footer img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}