<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='../static/style.css' , rel='stylesheet'>
    <link href='../static/game.css' , rel='stylesheet'>
    <title>{{ game.Game_name }} - Game-Kiroku</title>
</head>

<body>
    <header>
        <a href={{ url_for('index') }} id="logo">Game-Kiroku</a>
        <div class="menu">
            <div onclick="menuToggle()" class="menu-dropbutton">
                <span>[Username]</span>
                <img src="https://imgholder.ru/60x60/8493a8/fff&text=60%D1%8560&font=kelson" alt="Avatar">
            </div>
            <div id="menuContent" class="menu-dropcontent">
                <a href="user.html">Профиль</a>
                <a href="#">Выход</a>
            </div>
        </div>
        <!-- .dropdown -->
    </header>
    <div class="main">
        <div class="game-wrapper">
            <img src="https://imgholder.ru/400x600/8493a8/fff&text=400x600&font=kelson" alt="[Game_name]">
            <div class="game-info">
                <p id="title">{{ game.Game_name }}</p>
                <p>Дата выхода: {{ game.Release_date }}</p>
                <p>Разработчик: {{ game.developer.Studio_name }}</p>
                {% if game.publisher.Publisher_name != NULL %}
                <p>Издатель: {{ game.publisher.Publisher_name }}</p>
                {% endif %}
                {% if game.Description != None %}
                <p>{{ game.Description }}</p>
                {% endif %}
                <div class="addto">
                    <div onclick="addToToggle()" id="addtoButton" class="addto-dropbutton">
                        <span>Добавить в список </span>
                    </div>
                    <div id="addtoContent" class="addto-dropcontent">
                        <div>Запланировано</div>
                        <div>Пройдено</div>
                        <div>Брошено</div>
                        <div>Отложено</div>
                    </div>
                </div>
            </div>
            <div class="rating">
                <p>Рейтинг:{{ game.Rating }}/10</p>
                <form action="">
                    <p>Оценка:
                        <select name="rating" id="rate">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option selected value="10">10</option>
                        </select>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- .main -->
    <footer>
        <img src="../static/VIMO_Games_Logo_80x80.png" alt="VIMO_Games_NDU">
        <span>©VIMO NDU Москва, 2021</span>
    </footer>
    <script src="../static/script.js"></script>
</body>

</html>
<!-- Перенести кнопку под постер. Инфо увеличить, описание оставить так же. -->