<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='../static/style.css' , rel='stylesheet'>
    <link href='../static/game.css' , rel='stylesheet'>
    <script src="https://kit.fontawesome.com/63cd46c35b.js" crossorigin="anonymous"></script>
    <title>{{ game_data['Game'].Game_name }} - Game-Kiroku</title>
</head>

<body>
    <header>
        <a href={{ url_for( 'index') }} id="logo">Game-Kiroku</a>
        <div class="search-form">
            <form method="GET" action="/">
                <input type="search" name="search-content" placeholder="Поиск..." class="search">
                <input type="submit" value="&#xf002" class="search fa-solid fa-magnifying-glass">
            </form>
        </div>
        {% if user != None %}
        <div class="menu">
            <div onclick="menuToggle()" class="menu-dropbutton">
                <span>{{ user }}</span>
                <img src={{ user_photo }} alt="Avatar">
            </div>
            <div id="menuContent" class="menu-dropcontent">
                <a href={{ url_for( 'user_page', name=user) }}>Профиль</a>
                <a href={{ url_for( 'logout') }}>Выход</a>
            </div>
        </div>
        {% else %}
        <div class="menu-dropbutton">
            <a href={{ url_for( 'login') }}>Войти</a>
        </div>
        {% endif %}
        <!-- .menu -->
    </header>
    <div class="main">
        <div class="game-wrapper">
            <img src={{ game_data[ 'Game'].Poster }} alt={{ game_data[ 'Game'].Game_name }}>
            <div class="game-info">
                <p id="title">{{ game_data['Game'].Game_name }}</p>
                <p>Дата выхода: {{ game_data['Game'].Release_date }}</p>
                <p>Разработчик: {{ game_data['Developer'].Studio_name }}</p>
                {% if game_data['Publisher'].Publisher_name != NULL %}
                <p>Издатель: {{ game_data['Publisher'].Publisher_name }}</p>
                {% endif %} 
                {% if game_data['Game'].Description != None %}
                <p>{{ game_data['Game'].Description }}</p>
                {% endif %} 
                {% if user != None %}
                <div class="addto">
                    <div onclick="addToToggle()" id="addtoButton" class="addto-dropbutton">
                        <span>{% if not list_type %}Добавить в список 
                            {% elif list_type == 'planned' %}Запланировано
                            {% elif list_type == 'completed' %}Пройдено
                            {% elif list_type == 'dropped' %}Брошено
                            {% elif list_type == 'postponed' %}Отложено
                            {% endif %}</span>
                    </div>
                    <form method="GET" action={{ url_for( 'list_handler', id_game=game_data[ 'Game'].ID_game) }} id="addtoContent" class="addto-dropcontent">
                        {% if list_type != 'planned' %}<button name="type" value="planned">Запланировано</button>{% endif %}
                        {% if list_type != 'completed' %}<button name="type" value="completed">Пройдено</button>{% endif %}
                        {% if list_type != 'dropped' %}<button name="type" value="dropped">Брошено</button>{% endif %}
                        {% if list_type != 'postponed' %}<button name="type" value="postponed">Отложено</button>{% endif %}
                        {% if list_type %}<button name="type" value="delete">Удалить из списка</button>{% endif %}
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="rating">
                <p>Рейтинг:{{ game_data['Game'].Rating|round(2) }}/10</p>
                {% if user != None and list_type != 'planned' and list_type != None %}
                <span>Оценка:</span>
                <div class="rating-drop">
                    <div onclick="ratingToggle()" id="ratingButton" class="rating-dropbutton">
                        <span>{% if not user_rating %}-
                            {% else %}
                            {{ user_rating|int }}
                            {% endif %}</span>
                    </div>
                    <form method="GET" action={{ url_for('rating_handler', id_game=game_data[ 'Game'].ID_game) }} id="ratingContent" class="rating-dropcontent">
                        <button name="rating" value="1">1</button>
                        <button name="rating" value="2">2</button>
                        <button name="rating" value="3">3</button>
                        <button name="rating" value="4">4</button>
                        <button name="rating" value="5">5</button>
                        <button name="rating" value="6">6</button>
                        <button name="rating" value="7">7</button>
                        <button name="rating" value="8">8</button>
                        <button name="rating" value="9">9</button>
                        <button name="rating" value="10">10</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- .main -->
    <footer>
        <img src="../static/VIMO_Games_Logo_80x80.png" alt="VIMO_Games_NDU">
        <span>©VIMO NDU Москва, 2021</span>
    </footer>
    <script src="../static/script.js"></script>
</body>

</html>
<!-- Перенести кнопку под постер. Инфо увеличить, описание оставить так же. -->