<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='../static/style.css' , rel='stylesheet'>
    <link href='../static/login.css' , rel='stylesheet'>
    <title>Game-Kiroku</title>
</head>

<body>
    <header>
        <a href={{ url_for('index') }} id="logo">Game-Kiroku</a>
        <div class="menu">
            <div onclick="menuToggle()" class="menu-dropbutton">
                <span>[Username]</span>
                <img src="https://imgholder.ru/60x60/8493a8/fff&text=60%D1%8560&font=kelson" alt="Avatar">
            </div>
            <div id="menuContent" class="menu-dropcontent">
                <a href="user.html">Профиль</a>
                <a href="#">Выход</a>
            </div>
        </div>
        <!-- .dropdown -->
    </header>
    <div class="main">
        <form method="POST">
            <label>Никнейм</label>
            <input type="text" minlength="6" maxlength="50" name="nickname" placeholder="Никнейм" required><br>
            <label>E-mail</label>
            <input type="email" maxlength="30" name="email" placeholder="name@mail.com" required><br>
            <label>Пароль</label>
            <input type="password" minlength="8" maxlength="50" name="password" placeholder="8-50 символов" required><br>
            <label>Повторите пароль</label>
            <input type="password" minlength="8" maxlength="50" name="password_check" placeholder="8-50 символов" required><br>
            <input type="submit" value="Зарегистрироваться">
            <a href={{ url_for('login') }}>Войти</a>
        </form>
    </div>
    <!-- .main -->
    <footer>
        <img src="../static/VIMO_Games_Logo_80x80.png" alt="VIMO_Games_NDU">
        <span>©VIMO NDU Москва, 2021</span>
    </footer>
    <script src="../static/script.js"></script>
</body>

</html>
