<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='../static/style.css' , rel='stylesheet'>
    <link href='../static/user.css' , rel='stylesheet'>
    <script src="https://kit.fontawesome.com/63cd46c35b.js" crossorigin="anonymous"></script>
    <title>Game-Kiroku</title>
</head>

<body>
    <header>
        <a href={{ url_for('index') }} id="logo">Game-Kiroku</a>
        <div class="search-form">
            <form method="GET" action="/">
                <input type="search" name="search-content" placeholder="Поиск..." class="search">
                <input type="submit" value="&#xf002" class="search fa-solid fa-magnifying-glass">
            </form>
        </div>
        {% if user != None %}
        <div class="menu">
            <div onclick="menuToggle()" class="menu-dropbutton">
                <span>{{ user }}</span>
                <img src={{ user_photo }} alt="Avatar">
            </div>
            <div id="menuContent" class="menu-dropcontent">
                <a href={{ url_for('user_page', name=user) }}>Профиль</a>
                <a href={{ url_for('logout') }}>Выход</a>
            </div>
        </div>
        {% else %}
        <div class="menu-dropbutton">
            <a href={{ url_for('login') }}>Войти</a>
        </div>
        {% endif %}
        <!-- .menu -->
    </header>
    <div class="main">
        <p class="title">{{name}}</p>
        <div class="user">
            <img src={{ profile_photo }} alt="Avatar">
            <div class="user-info">
                <p>Запланировано: {{ list_counts.planned }}</p>
                <p>Пройдено: {{ list_counts.completed }}</p>
                <p>Брошено: {{ list_counts.dropped }}</p>
                <p>Отложено: {{ list_counts.postponed }}</p>
                <p>[Status_example]</p>
            </div>
        </div>
        <div class="list-wrapper">
            {% for key, lists in grouped_lists.items() %}
            {% if lists %}
            <div class="list">
                <p>{% if key == 'planned' %}Запланировано
                    {% elif key == 'completed' %}Пройдено
                    {% elif key == 'dropped' %}Брошено
                    {% elif key == 'postponed' %}Отложено
                    {% endif %}
                </p>
                <table>
                    {% for list, game in lists %}
                    <tr>
                        <td class=table-game-name><a href={{ url_for('game_page', id_game=list.ID_game) }}>{{ game.Game_name }}</a></td>
                        <td>{% if list.Rated == None %}-{% else %}{{ list.Rated|int }}{% endif %}/10</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% endfor %}
            
        </div>
    </div>
    <!-- .main -->
    <footer>
        <img src="../static/VIMO_Games_Logo_80x80.png" alt="VIMO_Games_NDU">
        <span>©VIMO NDU Москва, 2021</span>
    </footer>
    <script src="../static/script.js"></script>
</body>

</html>